#one{
    background-color: #AA2255;
    color:white;
}
#two{
    background-color:#55FFCC;
}
#three{
    background-color:#0088;
    color:white;
}
#four{
    background-color:#00CC22;
}
.container{
    display:flex;
    border:13px solid #3255AA;
    font-size:80px;
}