/* I decided it would be easier for me to see the difference if I had one to show the default
    and the other to show the difference. */
    /* Changing the width does not act in the normal way in flexbox. */
.one{
    background-color: #AA2255;
    color:white;
}
.two{
    /* I believe if you have a light background, you should use a dark font color. */
    background-color:#55FFCC;
}
.three{
    background-color:#0088;
    color:white;
}
.four{
    background-color:#00CC22;
    color:white;
}
/* I realized I could do the same thing with a seperate class and cut down on the code. */
.box{
    width:300px;
}
.container{
    /* Display flex puts the children in a row instead of a column. */
    display:flex;
    /* Row does nothing because it is the default value of display flex. */
    flex-direction:row;
    flex-wrap:wrap-reverse;
    margin-top:5px;
    border:13px solid #3255AA;
    font-size:80px;
    width:800px;
    text-align:center;
}
.container2{
    /* Display flex puts the children in a row instead of a column. */
    display:flex;
    /* Column reverse makes everything go up and down from bototm to top and fills out the parent. */
    flex-direction:column-reverse;
    margin-top:5px;
    border:13px solid #3255AA;
    font-size:80px;
    text-align:center;
}