body{
    margin:0;
}
div{
    background-color:#02255e;
}
ul{
    list-style:none;
    margin:0;
    color:white;
    font-size:20px;
}
li{
    cursor:pointer;
}
.container{
    width:15vw;
    height:100vh;
    display:flex;
}
.section{
    padding-top:50px;
}