body{
    margin:0;
}
div{
    background-color:#02255e;
}
ul{
    list-style:none;
    margin:0;
    color:white;
    font-size:20px;
}
li{
    cursor:pointer;
    padding-top:15px;
    padding-bottom:5px;
}
li:hover{
    color:gold
}
.container{
    width:20vw;
    height:100vh;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column-reverse;
    justify-content:flex-start;
}
.section{
    padding-top:78vh;
}